/* CUSTOM-PROPS */
:root {
  --light-brown: #F2D3B1;
  --brown: #C99B67;
  --green-color: #0A775F;                                               ;
  --black: #000;
  --text-color: #333333;
}

/* FONTS */
@font-face {
  font-family: "Roboto";
    src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
    src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
  url("Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
    src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* AUTOFILL-SYLES */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}


/* PLACEHOLDER-STYLES */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

*:focus {
  outline: 2px dashed var(--green-color); 
  outline-offset: 4px;
}


/* BUTTON */
.cta-button {
  display: inline-block;
  padding: 16px 24px;
  color: #fff;
  background-color: var(--green-color);
  border-radius: 50px;
  font-size: 16px;
  letter-spacing: 1px;
  font-weight: 500;
  text-decoration: none;
  text-transform: uppercase;
  white-space: nowrap;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}


/* SITE-HEADER */
.site-header-hero-wrapper {
  background-image: url("/img/site-header-intro-bg.jpg");
  background-color: var(--light-brown);
}

.site-header {
  position: relative;
  padding-left: 50px;
  padding-top: 40px;
  padding-right: 50px;
  padding-bottom: 40px;
  z-index: 1;
}

.site-header__container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.site-header__logo-link {
  flex-shrink: 0;
}

.site-header__logo-img {
  width: 235px;
  height: 24px;
}

.site-header--open .site-header__sitenav {
  display: block;
}


/* NAVBAR */
.sitenav__list {
  display: flex;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sitenav__item:not(:last-child) {
  margin-right: 40px;
}

.sitenav__link {
  color: var(--text-color);
  text-decoration: none;
  text-transform: uppercase;
  font-weight: 600;
  white-space: nowrap;
}

.sitenav__link:hover {
  color: var(--green-color);
}


/* SITE HEADER TOGGLE BUTTON  */
.site-header__toggle-btn {
  display: none;
  border: none;
  background: transparent;
}

.site-header__menu-icon {
  font-size: 30px;
}


/* HERO */
.hero__container {
  position: relative;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-areas: "text image";
  align-items: center;
}

.hero__brand-img {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 2;
}

.hero__text-content {
  padding: 120px 120px 100px 150px;
  grid-area: text;
}

.hero__title {
  margin: 0 0 24px;
  font-size: 64px;
  font-weight: 600;
  line-height: 1.1;
}

.hero__text {
  margin: 0 0 34px;
  font-size: 16px;
  line-height: 24px;
}

.hero__image-wrapper {
  max-width: 710px;
  width: 100%;
  height: 100%;
  grid-area: image;
}

.hero__img {
  width: 100%;
  height: auto;
  display: block;
  object-fit: cover;
}


/* OUR-COLLECTION */
.collection {
  overflow-x: hidden;
}

.collection__inner {
  position: relative;
  padding: 50px 143px;
  background-color: #F6F6EE;
  background-image: url('../img/collection-bg-img.png');
}

.collection__heading {
  margin-top: 0;
  margin-bottom: 80px;
  text-align: center;
  font-size: 32px;
  font-weight: 700;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.collection__list {
  margin: 0;
  padding: 0;
}

.collection__item {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 117px;
}

.collection__item--reverse {
  flex-direction: row-reverse;
}

.collection__item--reverse .collection__image {
  margin-right: 0;
}

.collection__image {
  width: 166px;
  margin-right: 117px;
  object-fit: cover;
  flex-shrink: 0;
}

.collection__content {
  max-width: 400px;
}

.content__title {
  margin-top: 0;
  margin-bottom: 10px;
  font-weight: 500;
  text-transform: uppercase;
}

.content__text {
  margin: 0;
  font-size: 18px;
  color: #555;
  line-height: 1.6;
}

.decoration-img--leaves-left {
  position: absolute;
  top: 10px;
  left: -186px;
}

.decoration-img--leaves-left-light {
  position: absolute;
  bottom: 190px;
  left: -216px;
}

.decoration-img--leaves-right {
  position: absolute;
  bottom: 460px;
  right: -350px;
}


@media (min-width: 1700px) {
  .hero__text-content {
    padding-left: 0;
  }
}

@media (max-width: 1240px) {
  .hero__title {
    font-size: 56px;
  }
}

@media (max-width: 1100px) {
  .collection__item {
    padding: 0;
  }

  .decoration-img--leaves-left {
    top: 80px;
    width: 310px;
  }

  .decoration-img--leaves-right {
    width: 470px;
  }
}

@media (max-width: 1024px) {
  .hero__text-content {
    padding: 80px 60px 80px 80px;
  }

  .hero__title {
    font-size: 52px;
  }

  .hero__image-wrapper {
    max-width: 560px;
  }
}

@media (max-width: 1000px) {
  .hero__brand-img {
    top: 15px;
    width: 140px;
  }
}

@media (max-width: 800px) {
  .site-header {
    padding: 30px 20px 30px 30px;
  }

  .site-header__container {
    padding: 0;
  }

  .site-header__sitenav {
    display: none;
    width: 100%;
    padding: 0 50px;
    position: absolute;
    top: 100%;
    left: 0;
    background-color: var(--light-brown);
  }

  .sitenav__item {
    margin-right: 0;
    margin-bottom: 20px;
  }

  .site-header__toggle-btn {
    display: block;
  }

  .sitenav__list {
    flex-direction: column;
  }


  /* HERO  */
  .hero__container {
    padding: 20px;
    grid-template-columns: 1fr;
    grid-template-areas:
      "image"
      "text";
  }

  .hero__brand-img {
    top: 0;
    transform: translate(-50%, -50%);
  }

  .hero__text-content {
    padding: 60px 40px 40px;
    text-align: center;
  }

  .hero__image-wrapper {
    max-width: 100%;
  }

  .hero__img {
    width: 100%;
    height: auto;
  }


  /* COLLECTION  */
  .collection__inner {
    padding-left: 80px;
    padding-right: 80px;
  }

  .collection__image {
    width: 100px;
    margin-right: 20px;
  }

  .decoration-img--leaves-left {
    top: -20px;
    left: -214px;
  }

  .decoration-img--leaves-left-light {
    bottom: 24px;
    left: -240px;
  }

  .decoration-img--leaves-right {
    bottom: 80px;
    right: -380px;
  }
}

@media (max-width: 580px) { 
  .cta-button--full-with {
    width: 100%;
    text-align: center;
}

  .site-header__logo-img {
    width: 160px;
    height: 18px;
  }

  .site-header__menu-icon {
    font-size: 22px;
  }

  .main-content {
    padding-top: 16px;
    padding-bottom: 16px;
  }


  /* HERO */
  .collection__container {
    padding-left: 16px;
    padding-right: 16px;
  }

  .hero__brand-img {
    width: 115px;
    top: 20px;
  }

  .hero__text-content {
    padding: 40px 20px;
  }

  .hero__title {
    font-size: 32px;
  }

  .hero__text {
    font-size: 15px;
  }


  /* COLLECTION  */
  .collection__inner  {
    padding: 20px 40px;
  }

  .collection__heading {
    margin-bottom: 30px;
  }

  .collection__image {
    width: 90px;
    margin-right: 40px;
  }

  .content__text {
    font-size: 16px;
  }

  .decoration-img--leaves-left {
    top: -74px;
    left: -255px;
  }

  .decoration-img--leaves-left-light {
    left: -270px;
  }

  .decoration-img--leaves-right {
    right: -405px;
  }
}

@media (max-width: 450px) { 
  .collection__inner {
    padding-left: 20px;
    padding-right: 20px;
  }

  .decoration-img--leaves-left,
  .decoration-img--leaves-left-light,
  .decoration-img--leaves-right {
    display: none;
  }

}