@import url('./components/buttons.css');
@import url('./components/header.css');
@import url('./components/hero.css');
@import url('./components/collection.css');
@import url('./components/feature.css');
@import url('./components/how-it-works.css');

/* CUSTOM-PROPS */
:root {
  --light-brown: #F8F8F2;
  --brown: #C99B67;
  --green-color: #0A775F;                                               ;
  --black: #000;
  --text-color: #333333;
}

/* FONTS */
@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Bold.woff2") format("woff2"),
  url("Roboto-Bold.woff") format("woff");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Medium.woff2") format("woff2"),
  url("Roboto-Medium.woff") format("woff");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Roboto";
  src: url("../fonts/Roboto-Regular.woff2") format("woff2"),
  url("Roboto-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}


/* GLOBAL */
html {
  box-sizing: border-box;
  height: 100%;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 0;
  margin: 0;
  font-family: "Roboto", "Arial", sans-serif;
  font-size: 16px;
  line-height: 1.5;
  background-color: #fff;
  color: var(--text-color);
}

img {
  max-width: 100%;
  height: auto;
}

/* AUTOFILL-SYLES */
input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
textarea:-webkit-autofill,
textarea:-webkit-autofill:hover,
textarea:-webkit-autofill:focus,
select:-webkit-autofill,
select:-webkit-autofill:hover,
select:-webkit-autofill:focus {
  border-color: transparent;
  -webkit-text-fill-color: inherit;
  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
}


/* PLACEHOLDER-STYLES */
::-webkit-input-placeholder,
::-moz-placeholder,
:-ms-input-placeholder,
:-moz-placeholder {
  color: rgba(52, 49, 61, 0.5);
  opacity: 1;
}


/* VISUALLY-HIDDEN */
.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  clip: rect(0 0 0 0);
  overflow: hidden;
}


/* CONTAINER  */
.container {
  width: 100%;
  max-width: 1440px;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: auto;
  margin-right: auto;
}

*:focus {
  outline: 2px dashed var(--green-color); 
  outline-offset: 4px;
}


/* MAIN-CONTENT */
.main-content {
  flex-grow: 1;
  padding-top: 20px;
  padding-bottom: 20px;
}


/* SITE-HEADER-HERO-WRAPPER */
.site-header-hero-wrapper {
  background-image: url("/img/site-header-intro-bg.jpg");
  background-color: var(--light-brown);
}

@media (max-width: 580px) { 
  .main-content {
    padding-top: 16px;
    padding-bottom: 16px;
  }
}