.collection--home.collection {
    overflow-x: hidden;
}

.collection__inner {
    position: relative;
    padding: 50px 143px;
    background-color: #F6F6EE;
    background-image: url('../../img/collection-bg-img.png');
}

.collection--plan .collection__inner {
    padding-left: 30px;
    padding-top: 50px;
    padding-right: 144px;
    padding-bottom: 50px;
}

.collection--about .collection__inner {
    padding: 160px 64px 160px 165px;
    margin-bottom: 160px;
}

.collection__heading {
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.collection__list {
    margin: 0;
    padding: 0;
}

.collection__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 117px;
}

.collection--about .collection__item {
    padding-left: 0;
    padding-right: 0;
}

.collection__item:nth-child(even) {
    flex-direction: row-reverse;
}

.collection__item:nth-child(even) .collection__image {
    margin-right: 0;
}

.collection__item--reverse {
    flex-direction: row-reverse;
}

.collection__item--reverse .collection__image {
    margin-right: 0;
}

.collection__image {
    width: 166px;
    margin-right: 117px;
    object-fit: cover;
    flex-shrink: 0;
}

.collection--about .collection__image {
    width: 360px;
    height: 464px;
    object-fit: contain;
}

.collection__content {
    max-width: 400px;
}

.collection--plan .collection__content {
    display: flex;
    flex-direction: column;
    max-width: 660px;
}

.content__title {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.content__text {
    margin: 0;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.collection__decoration-leaves-left {
    position: absolute;
    top: 10px;
    left: -186px;
}

.collection--plan .collection__decoration-leaves-left {
    top: 860px;
}

.collection__decoration-leaves-left-light {
    position: absolute;
    bottom: 190px;
    left: -216px;
}

.collection--plan .collection__decoration-leaves-left-light {
    /* bottom: -350px; */
    display: none;
}

.collection__decoration-leaves-right {
    position: absolute;
    bottom: 460px;
    right: -350px;
}

.collection--plan .collection__decoration-leaves-right {
    right: -380px;
}

/* HOME  */
.collection--home .collection__decoration-leaves-left,
.collection--home .collection__decoration-leaves-left-light,
.collection--home .collection__decoration-leaves-right {
    display: block;
}

/* ABOUT */
.collection--about .collection__decoration-leaves-left {
    display: block;
}

.collection--about .collection__decoration-leaves-left-light,
.collection--about .collection__decoration-leaves-right {
    display: none;
}

/* CREATE-YOUR-PLAN */
.collection--plan {
    position: relative;
    background-color: var(--light-cream);
    overflow: hidden;
}

.collection--plan .collection__inner {
    position: relative;
}

.collection__plan {
    
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
}

.plan-steps {
    list-style: none;
    margin: 0;
    padding: 0;
}

.plan-steps__item {
    display: flex;
    align-items: center;
    padding-bottom: 5px;
    opacity: 0.4;
    cursor: pointer;
}

.plan-steps__item:not(:last-child) {
    margin-bottom: 53px;
}

.plan-steps__item--active {
    opacity: 1;
    position: relative;
}

.plan-steps__item--active::after {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  bottom: 0;
  border-bottom: 2px dashed var(--brown);
}

.plan-steps__number {
    margin-right: 8px;
    font-weight: 500;
    font-size: 24px;
    color: var(--dark-cyan);
}

.plan-steps__label {
    font-size: 28px;
    font-weight: 500;
    text-transform: uppercase;
    color: var(--dark-grey-blue);
}


/* Question (accordion) */
.question {
    margin-bottom: 60px;
}
.question:last-child {
    margin-bottom: 100px;
}

.question:last-child {
    border-bottom: none;
}

.question__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    cursor: pointer;
    margin-bottom: 20px;
}

.question__title {
    margin: 0;
    font-size: 40px;
    font-weight: 700;
    line-height: normal;
    color: var(--grey);
}

.question__toggle {
    width: 30px;
    height: 32px;
    padding: 0;
    cursor: pointer;
    border: none;
    background: transparent;
    transform: rotate(0deg);
    transition: transform 0.3s ease;
}

.question--open .question__toggle {
    transform: rotate(90deg);
}

.question__toggler-inner {
    display: flex;
    align-items: center;
    justify-content: center;
}

.question__toggle-icon {
    display: inline-block;
    font-size: 18px;
}

/* Question options (cards) */
.question__options {
    display: flex;
    padding: 0;
    margin: 0;
    margin-bottom: 20px;
    list-style: none;
    padding: 0;

    /* collapse style  */
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease;
}

.question--open .question__options {
  max-height: 1000px;
}


/* Option card */
.option-card {
    padding: 30px 16px;
    background-color: var(--light-green);
    cursor: pointer;
    transition: background-color 0.3s ease, color 0.3s ease;
}

.option-card:not(:last-child) {
    margin-right: 20px;
}
 
.option-card:hover {
    opacity: 0.8;
}

.option-card:active {
    opacity: 0.6;
}

.option-card--active {
    background-color: var(--green-color);
    color: #fff;
}

.option-card__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 24px;
    font-weight: 700;
}

.option-card__text {
    margin: 0;
    font-size: 18px;
    line-height: 24px;
}


/* Order summary */
.collection__summary {
    background-color: var(--brown);
    padding: 40px 20px;
    margin-bottom: 20px;
}

.order-summary__title {
    margin-top: 0;
    margin-bottom: 14px;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0;
    text-transform: uppercase;
    color: #fff;
}

.order-summary__text {
    margin: 0;
    font-size: 24px;
    font-weight: 500;
    line-height: 34px;
    color: #fff;
}

.order-summary__chosen {
    color: #000;
}

/* Action button */
.collection__action {
    display: flex;
    justify-content: flex-end;
}

@media (max-width: 1145px) {
    .collection--plan .collection__inner {
        padding-right: 100px;
    }

    .collection--plan .collection__decoration-leaves-right {
        right: -420px;
    }
}

@media (max-width: 1100px) {
    .collection--about .collection__inner {
        padding: 130px 64px 130px 98px;
    }

    .collection--plan .collection__inner {
        padding-right: 30px;
    }

    .collection--plan .collection__content {
        max-width: 625px;
    }

    .collection--plan .plan-steps__label {
        font-size: 24px;
    }

    .collection--plan .question__title {
        font-size: 36px;
    }

    .collection__item {
        padding: 0;
    }
    
    .collection__decoration-leaves-left {
        top: 80px;
        width: 310px;
    }
    
    .collection__decoration-leaves-right {
        width: 470px;
    }
}

@media (max-width: 1000px) {
    .collection--about .collection__inner {
        padding: 90px 45px 90px 85px;
    }
    
    .collection--about .collection__image {
        width: 330px;
        margin-right: 70px;
    }
    
    .collection--about .content__title {
        font-size: 38px;
    }

    .collection--plan .collection__content {
        max-width: 600px;
    }

    .collection--plan .plan-steps__item:not(:last-child) {
        margin-bottom: 38px;
    }

    .collection--plan .plan-steps__label {
        font-size: 20px;
    }

    .collection--plan .question {
        margin-bottom: 50px;
    }
    .collection--plan .question__title {
        font-size: 32px;
    }
}

@media (max-width: 900px) {
    .collection--about .collection__inner {
        padding: 50px 30px 50px 80px;
    }
    
    .collection--about .collection__image {
        width: 290px;
        height: auto;
        margin-right: 50px;
    }
    
    .collection--about .content__title {
        font-size: 28px;
    }
    
    .collection--about .collection__decoration-leaves-left {
        top: -30px;
    }

    .collection--plan .plan-steps__label,
    .collection--plan .plan-steps__number {
        font-size: 16px;
    }

    .collection--plan .collection__content {
        max-width: 550px;
    }

    .collection--plan .question {
        margin-bottom: 30px;
    }

    .collection--plan .question__title {
        font-size: 28px;
    }

    .collection--plan .collection__decoration-leaves-left {
        top: 780px;
    }
    .collection--plan .collection__decoration-leaves-right {
        bottom: 380px;
    }
}


@media (max-width: 800px) {
    .collection__inner {
        padding-left: 80px;
        padding-right: 80px;
    }

    .collection--plan .question {
        margin-bottom: 20px;
    }

    .collection--plan .plan-steps {
        margin-bottom: 20px;
    }

    .collection--plan .question__title {
        font-size: 26px;
    }

    .collection--plan .option-card__title {
        font-size: 20px;
    }

    
    .collection--about .collection__item {
        flex-direction: column;
    }
    
    .collection__image {
        width: 100px;
        margin-right: 20px;
    }
    
    .collection--about .collection__image {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .collection__decoration-leaves-left {
        width: 205px;
        top: 8px;
        left: -117px;
    }

    .collection--plan .collection__decoration-leaves-left {
        width: 180px;
        top: 1150px;
    }
    
    .collection__decoration-leaves-left-light {
        bottom: 24px;
        left: -250px;
    }

    .collection--plan .collection__decoration-leaves-right {
        right: -360px;
    }

    .collection__decoration-leaves-right {
        bottom: 80px;
        right: -380px;
    }

    .collection__plan {
        flex-direction: column;
        padding-left: 40px;
    }

}

@media (max-width: 730px) {
    .collection--plan .collection__decoration-leaves-right {
        right: -400px;
    }
}

@media (max-width: 690px) {
    .collection--plan .collection__decoration-leaves-right {
        right: -420px;
    }
}

@media (max-width: 650px) {
    .collection--about .collection__inner {
        padding: 20px;
    }
    
    .collection--about .collection__image {
        width: 270px;
    }
    
    .collection--about .content__title {
        font-size: 26px;
        text-align: center;
    }
}


@media (max-width: 580px) { 
    .collection__container {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .collection__inner  {
        padding: 20px 40px;
    }

    .collection--plan .collection__inner {
        padding: 12px;
    }

    .collection__plan {
        padding-left: 0;
    }

    .collection--plan .plan-steps__item:not(:last-child) {
        margin-bottom: 12px;
    }

    .collection--plan .question {
        margin-bottom: 0;
    }

    .question__header {
        margin-bottom: 12px;
    }

    .collection--plan .question__title {
        font-size: 22px;
    }

    .option-card:not(:last-child) {
        margin-right: 6px;
    }

    .option-card {
        padding: 12px 8px;
    }

    .collection--plan .option-card__title {
        margin-bottom: 5px;
        font-size: 18px;
    }

    .option-card__text {
        font-size: 14px;
        line-height: 17px;
    }
    
    .collection__heading {
        margin-bottom: 30px;
    }
    
    .collection__image {
        width: 90px;
        margin-right: 40px;
    }
    
    .collection--about .collection__image {
        width: 230px;
    }

    .collection__summary {
        padding: 20px 18px;
    }
    
    .order-summary__text {
        font-size: 18px;
        line-height: 26px;
    }

    .content__text {
        font-size: 16px;
    }
    
    .collection__decoration-leaves-left {
        width: 130px;
        top: -4px;
        left: -73px;
    }

    .collection--plan .collection__decoration-leaves-left {
        display: none;
    }
    
    .collection__decoration-leaves-left-light {
        width: 150px;
        left: -117px;
        bottom: 96px;
    }
    
    .collection__decoration-leaves-right {
        width: 274px;
        right: -215px;
    }
}

@media (max-width: 450px) { 
    .collection__inner {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .collection__decoration-leaves-left {
        width: 104px;
        top: 8px;
        left: -64px;
        
    }
    
    .collection__decoration-leaves-left-light {
        width: 92px;
        left: -73px;
        bottom: 123px;
    }
    
    .collection__decoration-leaves-right {
        width: 180px;
        right: -146px;
        bottom: 136px;
    }
    
}