.collection--home.collection {
    overflow-x: hidden;
}

.collection__inner {
    position: relative;
    padding: 50px 143px;
    background-color: #F6F6EE;
    background-image: url('../img/collection-bg-img.png');
}


.collection--about .collection__inner {
    padding: 160px 64px 160px 165px;
    margin-bottom: 160px;
}

.collection__heading {
    margin-top: 0;
    margin-bottom: 80px;
    text-align: center;
    font-size: 32px;
    font-weight: 700;
    letter-spacing: 1px;
    text-transform: uppercase;
}

.collection__list {
    margin: 0;
    padding: 0;
}

.collection__item {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 117px;
}

.collection--about .collection__item {
    padding-left: 0;
    padding-right: 0;
}

.collection__item:nth-child(even) {
    flex-direction: row-reverse;
}

.collection__item:nth-child(even) .collection__image {
    margin-right: 0;
}

.collection__item--reverse {
    flex-direction: row-reverse;
}

.collection__item--reverse .collection__image {
    margin-right: 0;
}

.collection__image {
    width: 166px;
    margin-right: 117px;
    object-fit: cover;
    flex-shrink: 0;
}

.collection--about .collection__image {
    width: 360px;
    height: 464px;
    object-fit: contain;
}

.collection__content {
    max-width: 400px;
}

.content__title {
    font-size: 48px;
    margin-top: 0;
    margin-bottom: 10px;
    font-weight: 500;
    text-transform: uppercase;
}

.content__text {
    margin: 0;
    font-size: 18px;
    color: #555;
    line-height: 1.6;
}

.collection__decoration-leaves-left {
    position: absolute;
    top: 10px;
    left: -186px;
}

.collection__decoration-leaves-left-light {
    position: absolute;
    bottom: 190px;
    left: -216px;
}

.collection__decoration-leaves-right {
    position: absolute;
    bottom: 460px;
    right: -350px;
}

/* HOME  */
.collection--home .collection__decoration-leaves-left,
.collection--home .collection__decoration-leaves-left-light,
.collection--home .collection__decoration-leaves-right {
    display: block;
}

/* ABOUT */
.collection--about .collection__decoration-leaves-left {
    display: block;
}

.collection--about .collection__decoration-leaves-left-light,
.collection--about .collection__decoration-leaves-right {
    display: none;
}


@media (max-width: 1100px) {
    .collection--about .collection__inner {
        padding: 130px 64px 130px 98px;
    }
    .collection__item {
        padding: 0;
    }
    
    .collection__decoration-leaves-left {
        top: 80px;
        width: 310px;
    }

    .collection__decoration-leaves-right {
        width: 470px;
    }
}

@media (max-width: 1000px) {
    .collection--about .collection__inner {
        padding: 90px 45px 90px 85px;
    }

    .collection--about .collection__image {
        width: 330px;
        margin-right: 70px;
    }

    .collection--about .content__title {
        font-size: 38px;
    }
}

@media (max-width: 900px) {
    .collection--about .collection__inner {
        padding: 50px 30px 50px 80px;
    }

    .collection--about .collection__image {
        width: 290px;
        height: auto;
        margin-right: 50px;
    }

    .collection--about .content__title {
        font-size: 28px;
    }

    .collection--about .collection__decoration-leaves-left {
        top: -30px;
    }
}


@media (max-width: 800px) {
    .collection__inner {
        padding-left: 80px;
        padding-right: 80px;
    }

    .collection--about .collection__item {
        flex-direction: column;
    }
    
    .collection__image {
        width: 100px;
        margin-right: 20px;
    }

    .collection--about .collection__image {
        margin-right: 0;
        margin-bottom: 20px;
    }
    
    .collection__decoration-leaves-left {
        width: 205px;
        top: 8px;
        left: -117px;
    }
    
    .collection__decoration-leaves-left-light {
        bottom: 24px;
        left: -250px;
    }
    
    .collection__decoration-leaves-right {
        bottom: 80px;
        right: -380px;
    }
}

@media (max-width: 650px) {
    .collection--about .collection__inner {
        padding: 20px;
    }

    .collection--about .collection__image {
        width: 270px;
    }

    .collection--about .content__title {
        font-size: 26px;
        text-align: center;
    }
}


@media (max-width: 580px) { 
    .collection__container {
        padding-left: 16px;
        padding-right: 16px;
    }
    
    .collection__inner  {
        padding: 20px 40px;
    }
    
    .collection__heading {
        margin-bottom: 30px;
    }
    
    .collection__image {
        width: 90px;
        margin-right: 40px;
    }
    
    .collection--about .collection__image {
        width: 230px;
    }
    
    .content__text {
        font-size: 16px;
    }
    
    .collection__decoration-leaves-left {
        width: 130px;
        top: -4px;
        left: -73px;
    }
    
    .collection__decoration-leaves-left-light {
        width: 150px;
        left: -117px;
        bottom: 96px;
    }
    
    .collection__decoration-leaves-right {
        width: 274px;
        right: -215px;
    }
}

@media (max-width: 450px) { 
    .collection__inner {
        padding-left: 20px;
        padding-right: 20px;
    }
    
    .collection__decoration-leaves-left {
        width: 104px;
        top: 8px;
        left: -64px;
        
    }

    .collection__decoration-leaves-left-light {
        width: 92px;
        left: -73px;
        bottom: 123px;
    }

    .collection__decoration-leaves-right {
        width: 180px;
        right: -146px;
        bottom: 136px;
    }
    
}