.feature__inner {
    padding: 50px 30px;
    /* background-color: #C99B67; */
    background-image: url('../../img/features-background-image.jpg');
    background-size: 100% 700px;
    background-repeat: no-repeat;
}

.feature--about .feature__inner {
    max-height: 510px;
    display: flex;
    position: relative;
    padding: 100px 30px 100px 143px;
    margin-bottom: 20px;
}

.feature--about .feature__text-content {
    width: 100%;
    max-width: 650px;
    margin-right: 40px;
}

.feature__heading {
    margin-top: 0;
    margin-bottom: 10px;
    text-align: center;
    font-size: 50px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}

.feature--about .feature__heading {
    text-align: left;
    max-width: 400px;
    margin-bottom: 24px;
    line-height: normal;
}

.feature__lead {
    margin-top: 0;
    margin-bottom: 80px;
    max-width: 540px;
    margin-left: auto;
    margin-right: auto;
    font-size: 16px;
    text-align: center;
    color: #fff;
    line-height: 28px;
}

.feature--about .feature__lead {
    margin-left: 0;
    text-align: left;
}

.feature__list {
    position: relative;
    margin: 0;
    padding: 0;
    margin-left: -20px;
    display: flex;
    flex-wrap: wrap;
    list-style: none;
}

.feature__item {
    width: calc(100% / 3 - 20px);
    margin-left: 20px;
    margin-bottom: 20px;
}

.feature--about .feature__item {
    width: 550px;
}

.feature__img {
    margin-bottom: 28px;
    width: 100%;
    max-width: 433px;
    height: 500px;
    object-fit: cover;
}

.feature--about .feature__img {
    width: calc(100% / 2);
    max-width: 550px;
    height: 500px;
    transform: translateY(-195px);
    object-fit: contain;
}

.feature__title {
    margin-top: 0;
    margin-bottom: 10px;
    font-size: 30px;
    font-weight: 500;
    line-height: normal;
    text-transform: uppercase;
}

.feature__text {
    margin: 0;
    color: #333;
    font-size: 18px;
    line-height: 28px;
}

.feature__decoration-img {
    position: absolute;
    top: -50px;
    left: -30px;
}

@media (max-width: 1240px) {
    .feature--about .feature__heading {
        font-size: 44px;
    }
}

@media (max-width: 1190px) {
    .feature--about .feature__inner {
        padding-left: 70px;
    }
}

@media (max-width: 1000px) {
    .feature--about .feature__heading {
        font-size: 38px;
    }
}

@media (max-width: 900px) {
    .feature__inner {
        padding: 30px 20px;
    }

    .feature--about .feature__heading {
        font-size: 32px;
    }

    .feature__lead {
        margin-bottom: 40px;
    }

    .feature__decoration-img {
        width: 110px;
        left: -20px;
    }

    .feature__item {
    width: calc(100% / 2 - 20px);
    }
}

@media (max-width: 800px) {
    .feature--about .feature__inner {
        flex-direction: column-reverse;
        padding-bottom: 20px;
        align-items: center;
    }

    .feature--about .feature__text-content {
        margin-right: 0;
    }

    .feature--about .feature__img {
        width: calc(108% / 2);
        transform: translate(0);
    }
}

@media (max-width: 700px) {
    .feature--about .feature__inner {
        padding-left: 30px;
    }

    .feature--about .feature__img {
        width: calc(130% / 2);
    }
}

@media (max-width: 600px) {
    .feature__heading  {
        font-size: 28px;
    }

    .feature--about .feature__heading {
        font-size: 26px;
    }
    
    .feature__lead {
        font-size: 14px;
        line-height: 24px;
        margin-bottom: 20px;
    }

    .feature--about .feature__img {
        width: calc(170% / 2);
    }

    .feature__list {
        justify-content: center;
    }

    .feature__item {
        width: 100%;
    }

    .feature__img {
        max-width: 100%;
        height: 330px;
    }

    .feature__title {
        font-size: 24px;
    }

    .feature__text {
        font-size: 16px;
        line-height: 24px;
    }

    .feature__decoration-img {
        width: 90px;
        top: -28px;
    }
}

@media (max-width: 550px) {
    .feature--about .feature__img {
        width: calc(195% / 2);
    }
}