.how-it-works__inner {
  text-align: center;
  padding: 50px 30px;
  background-color: var(--green-color);
  background-image: url("../../img/how-it-works-bg.jpg");
}

.how-it-works--plan .how-it-works__inner {
  margin-bottom: 20px;
}

.how-it-works__heading {
  margin-top: 0;
  margin-bottom: 80px;
  color: #fff;
  font-size: 50px;
  line-height: normal;
  text-align: center;
  text-transform: uppercase;
}

.how-it-works__list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
  margin-bottom: 60px;
  list-style: none;
  margin-left: -20px;
  text-align: left;
  counter-reset: how-it-works;
}

.how-it-works__item {
  position: relative;
  display: flex;
  flex-direction: column;
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
  counter-increment: how-it-works;
}

.how-it-works__item::before {
  width: 60px;
  height: 60px;
  margin-bottom: 20px;
  border: 4px solid var(--brown);
  background-color: var(--light-brown);
  z-index: 2;
  content: '';
}

.how-it-works__item:not(:last-child):after {
  position: absolute;
  top: 28px;
  left: 0;
  width: 100%;
  height: 3px;
  max-width: 433px;
  background-image: url("../../img/icon/dashed-border.svg");
  background-repeat: no-repeat;
  content: '';
}

.how-it-works__info {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  padding: 20px 20px 40px;
  background-color: var(--light-brown);
}

.how-it-works__info::before {
  align-self: flex-end;
  margin-bottom: 45px;
  font-size: 64px;
  line-height: normal;
  content: "0"counter(how-it-works);
}

.how-it-works__step-title {
  margin-top: 0;
  margin-bottom: 10px;
  max-width: 250px;
  font-size: 40px;
  line-height: normal;
  font-weight: 500;
  text-transform: uppercase;
}

.how-it-works__step-text {
  margin: 0;
  font-size: 18px;
  line-height: 28px;
}

/* HOW-IT-WORKS ABOUT-HTML */
.how-it-works__locations-list {
  display: flex;
  flex-wrap: wrap;
  margin: 0;
  margin-left: -20px;
  padding: 0;
  list-style: none;
}

.how-it-works__location-item {
  width: calc(100% / 3 - 20px);
  margin-left: 20px;
}

.location-card {
  position: relative;
  height: 100%;
  padding: 45px 55px 40px 20px;
  background-color: var(--light-brown);
}

.location-card__address {
  padding-top: 95px;
  display: flex;
  flex-direction: column;
  text-align: left;
}

.location-card__img {
  width: 120px;
  position: absolute;
  top: 45px;
  right: 55px;
}

.location-card__country-title {
  max-width: 235px;
  margin-top: 0;
  margin-bottom: 10px;
  font-size: 40px;
  font-weight: 500;
  line-height: normal;
}

.location-card__lines {
  margin: 0;
}

.location-card__block {
  display: block;
}

.location-card__phone {
  text-decoration: none;
  color: var(--black);
}

@media (max-width: 1000px) {
  .location-card__img {
    top: 32px;
    right: 28px;
  }

  .location-card__country-title {
    font-size: 34px;
  }
}

@media (max-width: 900px) {
  .how-it-works__inner {
    padding: 32px 20px;
  }

  .how-it-works__heading {
    margin-bottom: 40px;
    font-size: 36px;
  }

  .how-it-works__item {
    margin-bottom: 20px;
    width: calc(100% / 2 - 20px);
  }

  .how-it-works__item::before {
    width: 50px;
    height: 50px;
  }

  .how-it-works__item:not(:last-child):after {
    top: 23px;
  }

  .how-it-works__info::before {
    margin-bottom: 30px;
    font-size: 50px;
  }

  .how-it-works__step-title {
    font-size: 32px;
  }

  .how-it-works__step-text {
    font-size: 17px;
    line-height: 26px;  
  }

  .how-it-works--about .location-card__img {
    width: 100px;
  }
}

@media (max-width: 800px) {
  .how-it-works__location-item {
    width: calc(100% / 2 - 20px);
    margin-bottom: 20px;
  }
}

@media (max-width: 600px) {
  .how-it-works__heading {
    margin-bottom: 20px;
    font-size: 32px;
  }

   .how-it-works--about .location-card__country-title {
    font-size: 26px;
  }

  .how-it-works__list {
    margin-bottom: 20px;
  }
  
  .how-it-works__item {
    width: 100%;
  }

  .how-it-works__item::before {
    width: 40px;
    height: 40px;
  }


  .how-it-works__item:not(:last-child):after {
    max-width: 100%;
    top: 18px;
  }

  .how-it-works__info::before {
    margin-bottom: 20px;
    font-size: 40px;
  }

  .how-it-works__step-title {
    font-size: 26px;
  }

  .how-it-works__step-text {
    font-size: 16px;
  }
}

@media (max-width: 580px) {
  .how-it-works__location-item {
    width: 100%;
  }
}